header {
  z-index: 1;
}

.img_cover {
  height: 215px;
  object-fit: cover;
}

.notFound {
  grid-template-columns: 1fr !important;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

.discount {
  height: 0;
}

.btn-remove {
  display: flex;
  flex-direction: column;
}

.btn-cart {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-cart {
  position: absolute;
  bottom: 13px;
}
